<html>
  <head>
    <title>Ladybug Paste</title>
    <%- include("partials/header") %>
    <%- include("partials/meta", { description: "Ladybug Pastebin, store and view pastes on the fly!" }) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css"/>
    <style>
      body {
       color: white;
       background-color: black;
      }
    </style>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <!-- TODO make language dynamic with a file extension at url -->
    <pre><code class="lang-js">
      <%= content %>
    </code></pre>
    <%- include("partials/scripts") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
